<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanpenn.dubbo.samples.shop.service.order.persist.repository.OrderRepository">

    <select id="searchByUserId" parameterType="Integer" resultType="cn.ryanpenn.dubbo.samples.shop.service.order.persist.entity.OrderEntity">
        select id, status, buyerId, orderTime, receiver, amount, creation_date from `tb_order` where buyerId = #{userId}
    </select>

</mapper>